# ++-----------------+
# || Consul DC       |
# ++-----------------+

_consul_datacenter="${consul_datacenter}"
_consul_domain="${consul_domain}"
_server_number="${server_number}"
_retry_join="${retry_join}"

CONSUL_DATACENTER=$${_consul_datacenter:-"dc1"}
CONSUL_DOMAIN=$${_consul_domain:-"consul"}

SERVER_NUMBER=$${_server_number:-1}
RETRY_JOIN=$${_retry_join:-""}

# ++-----------------+
# || Consul Flow     |
# ++-----------------+