#!/usr/bin/env bash

CONSUL_CONFIG_DIR="/etc/consul.d/"

## Remove pre-existing consul configuration
rm -rf /etc/consul.d/*
rm -rf /opt/consul/*

# Generate Certificates
echo -n "${CA_CERT}" | base64 -d | zcat       > /etc/consul.d/consul-agent-ca.pem
echo -n "${TLS_CERT}" | base64 -d | zcat      > /etc/consul.d/consul-agent.pem
echo -n "${TLS_CERT_KEY}" | base64 -d | zcat  > /etc/consul.d/consul-agent-key.pem

# "Generate consul.hcl - requirement for systemd service"
tee $${CONSUL_CONFIG_DIR}consul.hcl > /dev/null << EOF

# consul.hcl

# Data Persistence
data_dir = "/opt/consul"

# Logging
log_level = "DEBUG"
enable_syslog = true

## Disable script checks
enable_script_checks = false

## Enable local script checks
enable_local_script_checks = true
EOF

# "Generate gossip encryption key config"
echo encrypt = \"${GOSSIP_KEY}\" > $${CONSUL_CONFIG_DIR}sensitive-gossip-encryption-key.hcl

# "Generate agent configuration"
tee $${CONSUL_CONFIG_DIR}agent-server-secure.hcl > /dev/null << EOF

# agent-server-secure.hcl

# Enable service mesh
connect {
  enabled = true
}

# Addresses and ports
addresses {
  grpc = "127.0.0.1"
  http = "127.0.0.1"
  // http = "0.0.0.0"
  https = "0.0.0.0"
  dns = "127.0.0.1"
}

ports {
  http      = 8500
  https     = 8501
  grpc      = 8502
  grpc_tls  = 8503
  dns       = 8600
}

# Join other Consul agents
retry_join = [ "${JOIN_STRING}" ]

# DNS recursors
recursors = ["1.1.1.1"]

## Disable script checks
enable_script_checks = false

## Enable local script checks
enable_local_script_checks = true
EOF

# "Generate TLS configuration"
tee $${CONSUL_CONFIG_DIR}agent-server-tls.hcl > /dev/null << EOF

# agent-server-tls.hcl

## TLS Encryption (requires cert files to be present on the server nodes)
tls {
  defaults {
    ca_file   = "/etc/consul.d/consul-agent-ca.pem"
    cert_file = "/etc/consul.d/consul-agent.pem"
    key_file  = "/etc/consul.d/consul-agent-key.pem"

    verify_outgoing        = true
    verify_incoming        = true
  }
  https {
    verify_incoming        = false
  }
  internal_rpc {
    verify_server_hostname = true
  }
}

auto_encrypt {
  allow_tls = true
}
EOF

# "Generate ACL configuration"
tee $${CONSUL_CONFIG_DIR}agent-server-acl.hcl > /dev/null << EOF

# agent-server-acl.hcl

## ACL configuration
acl = {
  enabled = true
  default_policy = "deny"
  enable_token_persistence = true
  enable_token_replication = true
  down_policy = "extend-cache"
}
EOF

# Generate default management token config
if [[ ${ACL_BOOTSTRAP} =~ ^\{?[A-F0-9a-f]{8}-[A-F0-9a-f]{4}-[A-F0-9a-f]{4}-[A-F0-9a-f]{4}-[A-F0-9a-f]{12}\}?$ ]]; then
    
    tee $${CONSUL_CONFIG_DIR}sensitive-acl-bootstrap-token.hcl > /dev/null << EOF

# sensitive-acl-bootstrap-token.hcl

## ACL configuration
acl = {
  tokens {
    initial_management  = "${ACL_BOOTSTRAP}"
    agent               = "${ACL_BOOTSTRAP}"
    default             = "${ACL_BOOTSTRAP}"
  }
}
EOF

fi

# "Generate server specific configuration"
tee $${CONSUL_CONFIG_DIR}agent-server-specific.hcl > /dev/null << EOF

# agent-server-specific.hcl

## Server specific configuration for ${DATACENTER}
datacenter = "${DATACENTER}"
domain = "${DOMAIN}"
server = true
bootstrap_expect = ${SERVER_NUMBER}

client_addr = "127.0.0.1"
bind_addr   = "{{ GetInterfaceIP \"eth0\" }}"

## UI configuration (1.9+)
ui_config {
  enabled = true
  dashboard_url_templates {
    service = "http://${GRAFANA_URI}/d/hashicups/hashicups?orgId=1&var-service={{Service.Name}}"
  }
  metrics_provider = "prometheus"
  metrics_proxy {
    base_url = "http://${PROMETHEUS_URI}/prometheus"
    path_allowlist = ["/api/v1/query_range", "/api/v1/query", "/prometheus/api/v1/query_range", "/prometheus/api/v1/query"]
  }
}
EOF

## TODO How to resolve grafana URL instead of IP?

# 3000/d/hashicups/hashicups?orgId=1&var-service=hashicups-api&var-cluster=All&refresh=30s

# "Generating Consul server telemetry config"
tee $${CONSUL_CONFIG_DIR}agent-server-telemetry.hcl > /dev/null << EOF

# agent-server-telemetry.hcl

telemetry {
  prometheus_retention_time = "60s"
  disable_hostname = true
}
EOF

## Assign right ownership on config files
chown consul:consul /etc/consul.d/*