#!/usr/bin/env bash

# LOKI_IMAGE="grafana/loki:main"
# LOKI_PARAMS="" 
# LOKI_COMMAND="-config.file=/etc/loki/local-config.yaml"

# GRAFANA_IMAGE="grafana/grafana:latest"
# GRAFANA_PARAMS="--volume=/home/admin/assets/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources \
#                 --volume=/home/admin/assets/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards \
#                 --volume=/home/admin/assets/grafana/dashboards:/var/lib/grafana/dashboards \
#                 -e GF_AUTH_ANONYMOUS_ENABLED=true \
#                 -e GF_AUTH_ANONYMOUS_ORG_ROLE=Admin \
#                 -e GF_AUTH_DISABLE_LOGIN_FORM=true"
# GRAFANA_COMMAND=""

# MIMIR_IMAGE="grafana/mimir:latest"
# MIMIR_PARAMS="--volume=/home/admin/assets/mimir/mimir.yaml:/etc/mimir/mimir.yaml"
# MIMIR_COMMAND="--config.file=/etc/mimir/mimir.yaml"