#!/usr/bin/env bash

## Payments

docker run \
-d \
--network host \
--restart unless-stopped \
--name hashicups-api-payments hashicorpdemoapp/payments:${VERSION_PAY}

## Product API

tee /home/admin/conf.json > /dev/null << EOF
{
  "db_connection": "host=${DB_HOST} port=5432 user=postgres password=password dbname=products sslmode=disable",
  "bind_address": ":9090",
  "metrics_address": ":9103"
}
EOF

docker run \
-d \
--network host \
--restart unless-stopped \
--volume /home/admin/conf.json:/conf.json \
--name hashicups-api-product hashicorpdemoapp/product-api:${VERSION_PROD}

## Public API

docker run \
-d \
--network host \
--restart unless-stopped \
--env PRODUCT_API_URI=http://${PRODUCT_API_HOST}:9090 \
--env PAYMENT_API_URI=http://${PAYMENT_API_HOST}:8080 \
--env  BIND_ADDRESS=":8081" \
--name hashicups-api-public hashicorpdemoapp/public-api:${VERSION_PUB}