#!/usr/bin/env bash

docker rm -f hashicups-db

docker run \
-d \
--network host \
--restart unless-stopped \
--env POSTGRES_DB=products \
--env POSTGRES_PASSWORD=password \
--env POSTGRES_USER=postgres \
--name hashicups-db hashicorpdemoapp/product-api-db:${VERSION}